<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản Lý Nhân Viên</title>
</head>
<body>
    <h1>DASHBOARD TÍCH HỢP PAYROLL VÀ HUMAN</h1>
    <nav>
        <ul>
            
                <li><a href="{{ url_for('them_nhan_vien') }}">Quản lý Hồ sơ Nhân viên</a></li>
                <li><a href="{{ url_for('in_bang_luong') }}">In Bảng Lương</a></li>
                <li><a href="{{ url_for('in_danh_sach') }}">In Danh Sách Nhân Viên</a></li>
                
        </ul>
    </nav>
</body>
</html>