

.mb-3 {
    width: 400px;
}

html, body {
    height: 100%;
    margin: 0;
    /* overflow: hidden; Ngăn trang web cuộn toàn bộ */
    overflow-y: auto;
    overflow-x: hidden;
}

.container-fluid {
    height: 100vh;
    display: flex;
}

.bg-dark {
    height: 100vh;
    position: fixed; /* Giữ sidebar cố định */
    width: 250px; /* Cố định chiều rộng */
    overflow-y: auto; /* Cho phép cuộn riêng sidebar nếu nội dung quá dài */
}

#manage-form {
    flex-grow: 1; /* Tự động mở rộng */
    margin-left: 250px; /* Đẩy nội dung tránh sidebar */
    height: 100vh;
    /* overflow-y: auto; Chỉ cuộn nội dung trong form */
    padding-left: 20px;
    padding-bottom: 100px ;
    background-color: #f8f9fa; /* Màu nền nhẹ */
    margin-top: -100px;
    width: 1400px;
    padding-top: -100px;
    
}

#save-detail-btn {
    padding-left: 10px;
    margin-left: 10px;
}

.manage{
    display: flex;
    flex-wrap: wrap;
}



.manage .mb-3 {
    padding-left: 10px;
}

#Delete-detail-btn {
    background-color: red;
    border-color: red;
}

.salary-manage{
    display: flex;
    flex-wrap: wrap;
}

.salary-manage .mb-3{
    padding-left: 10px;
}

.interact{
    padding-bottom: 50px;
}

#caculate-btn, #clear-caculate-btn{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin-left: 15px;
    margin-top: 20px;
}